{% extends 'base.html.twig' %}

{% block title %}Test Page{% endblock %}

{# {% block head %}
    {{ parent() }}
{% endblock %} #}

{# {% block navigation %}

{% endblock %} #}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <section class="content-header">
        <h1>Support | Test Page</h1>
      </section>
      <!-- Main content -->
      <section class="content">
      <div style="width:100%;margin:5px;">
			<h3>Ihre Anfrage wurde erfolgreich weitergeleitet</h3>

			<p>Vielen Dank für Ihre Anfrage über ivd24immobilien.de. Der Anbieter wurde kontaktiert. Sollten Sie weitere Fragen haben, wenden Sie sich gerne jederzeit direkt an <b>OIM Odenwälder Immobilien Management e.K.</b>, indem Sie direkt auf diese E-Mail antworten oder unter folgenden Adressdaten Kontakt aufnehmen.</p>

			<p>OIM Odenwälder Immobilien Management e.K.<br>
			Gerhart-Hauptmann-Straße 21<br>
			64711 Erbach<br>
			Tel.: 06052 5320<br>
			E-Mail.: <a href="mailto:info@odenwaelder-immobilien.de">info@odenwaelder-immobilien.de</a></p>

			<p>&nbsp;</p>
			<p>Finden Sie viele weitere exklusive Immobilien auf <a href="https://www.ivd24immobilien.de/">ivd24immobilien</a> und empfehlen Sie uns Ihren Freunden und Bekannten.</p>
			<p>&nbsp;</p>
			<p><hr style="border:solid 1px #cccccc;"></p>

			<p><b>Ihre Nachricht</b></p>

			<table width="80%" cellspacing="0" cellpadding="0">
				<tr>
					<td>
						<p style="font-family: Tahoma, Arial, ''Times New Roman''; color: #4D4D4D; line-height: 1.3em;">
							<a href="https://www.ivd24immobilien.de/64711-erbach-haus-3-familienwohnhaus-im-zentrum-erbachs-183866680">Link zur Immobilie</a><br>
							ObjektID: 183866680<br>
							Anrede: Frau<br>
							Vorname: Meryem <br>
							Name: Isbert <br>
							Straße: <br>
							PLZ/Ort:  <br>
							E-Mail: meryem-isbert@hotmail.de<br>
							Telefon: 01708207216<br>
							</p>
					</td>
					<td align="center">
						<img src="https://www.ivd24immobilien.de/bilder///b00818369" alt="">
					</td>
				</tr>
			</table>

			<p>Nachricht:<br />
			Ich habe Ihr Angebot auf www.ivd24immobilien.de gefunden und bin an weiteren Informationen interessiert. Bitte nehmen Sie mit mir Kontakt auf.</p>
		</div>
      </section>
    </div>
  <!-- /.content-wrapper -->
{% endblock %}

{# {% block footer %}
    {{ parent() }}
{% endblock %} #}