{% extends 'base.html.twig' %}

{% block title %}Test Page{% endblock %}

{# {% block head %}
    {{ parent() }}
{% endblock %} #}

{# {% block navigation %}

{% endblock %} #}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <section class="content-header">
        <h1>Support | Test Page</h1>
      </section>
      <!-- Main content -->
      <section class="content">
       {{bilderserver_id}}<br>
       {{ftp_server_id}}<br>
       {{move_robot_id}}<br>  
      </section>
    </div>
  <!-- /.content-wrapper -->
{% endblock %}