{% extends 'base.html.twig' %}

{% block title %}Test Page{% endblock %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <section class="content-header">
        <h1>Support | Test Page</h1>
      </section>
      <!-- Main content -->
      <section class='content'>
       {{random}}
      </section>
    </div>
  <!-- /.content-wrapper -->
{% endblock %}