{% extends 'baseList.html.twig' %}

{% block title %}Pausierte FTP-Importe{% endblock %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <section class="content-header">
            <h1>Pausierte FTP-Importe</h1>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Übersicht</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="example1" class="table table-bordered table-striped" width="100%">
                                <thead>
                                    <tr>
                                        <th style='width: 8%;'>User-ID</th>
                                        <th style='width: 8%;'>MitgliedNr</th>
                                        <th style='width: 12%;'>Vor-, Name</th>
                                        <th style='width: 14%;'>Firma</th>
                                        <th style='width: 14%;'>Email</th>
                                        <th style='width: 12%;'>Host</th>
                                        <th style='width: 10%;'>Ftp_benutzer</th>
                                        <th style='width: 8%;'>Files show</th>
                                        <th style='width: 14%;'>&nbsp;</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
  <!-- /.content-wrapper -->
{% endblock %}

{% block footer %}
    {{ parent() }}

    <script>
        {# $(document).ready(function() {
            var myElemente = document.getElementsByClassName("delete-file");
            for(var i = 0; i < myElemente.length; i++) {
                myElemente[i].addEventListener("click", function(event){

                    var answer = window.confirm("Wollen Sie diese Datei wirklich löschen?");
                    if (answer) {
                        //some code
                    }
                    else {
                        //some code
                        event.preventDefault();
                    } 

                });
            }  
        }); #}

        function showConfirm(event){
            var answer = window.confirm("Wollen Sie diese Datei wirklich löschen?");
            if (answer==false) {
                event.preventDefault();
            }
        }
    </script>
{% endblock %}