{% extends 'base.html.twig' %}

{% block title %}Hauptversammlungen Übersicht{% endblock %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <section class="content-header">
        <h1>Hauptversammlungen Übersicht</h1>
      </section>
      <!-- Main content -->
      <section class="content">
        
        <div class="row">
          
          <!-- left column -->
          <div class="col-md-6">
            <div class="box box-warning">
                <div class="box-body">
                    <!-- text input -->
                    <div class="form-group">
                      {% for meeting in meetings %}
                        <a href="{{ path('stock_meeting', {'hauptversammlung_id': meeting.id}) }}"><button class="btn btn-primary">Hauptversammlung am {{meeting.date|date("d.m.Y")}}</button></a><br>
                      {% endfor %}
                    </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  
  <!-- /.content-wrapper -->
{% endblock %}