{% extends 'base.html.twig' %}

{% block title %}Hauptversammlung Details{% endblock %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <section class="content-header">
        <h1>Hauptversammlung vom {{meeting.date|date("d.m.Y")}}</h1>
      </section>
      <!-- Main content -->
      <section class="content">
        
        <div class="row"> 
          <!-- left column -->
          <div class="col-md-6">
          
            <div class="box box-warning">
                {# <div class="box-header with-border">
                    <h3 class="box-title">Supporter anlegen</h3>
                </div> #}
                <!-- /.box-header -->
                <div class="box-body">
                    <!-- text input -->
                    Status: <b>{{status}}</b><br><br>

                    angelegt am: {{meeting.insert_date|date("d.m.Y")}}<br>
                    zuletzt bearbeitet am: {{meeting.update_date|date("d.m.Y")}}<br><br>
                    Anzahl stimmberechtigte Aktionäre bei Hauptversammlung: <br>
                    Anzahl ausgegebenen Aktien bei Hauptversammlung: <br>
                    Anzahl Anmeldungen von Aktionären zur Hauptversammlung: <br>
                    Protokoll: <br><br>
                    <div class="form-group">
                        
                    </div>
                    
                </div>
                <!-- /.box-body -->
            </div>
          </div>
        </div>
      </section>
    </div>
  <!-- /.content-wrapper -->
{% endblock %}