{% extends 'base.html.twig' %}
{% block content %}
    <div class="content-wrapper">

      <section class="content-header">
        <h1>{{message}}</h1>
        <br>
        {# <a class="excel" target="_blank" onclick="if(confirm('CSV Daten jetzt laden? Funktion bitte sparsam verwenden!')) location.href='/support/stock/test';">laden-CSV</a> #}
        {# <a href="/support/stock/test">laden-CSV</a> #}
      </section>
      <!-- Main content -->
      <!-- /.Main content -->
    </div>
{% endblock %}