{% extends 'base.html.twig' %}

{% block title %}Generalmeeting{% endblock %}

{% block content %}
    <div class="content-wrapper">
      <section class="content-header">
        <h1>{{message}}</h1>
        <br>
      </section>
      <!-- Main content -->
      <!-- /.Main content -->
    </div>
{% endblock %}