<div style='width:100%;margin:5px;'>
    <h4>Sie sind registriert als Makler</h4>

    <p>Liebes Mitglied,</p>
    <p>wir freuen uns, Sie beim verbandseigenen Immobilienportal ivd24 begrüßen zu dürfen! Bevor es losgeht, möchten wir Ihnen hier unsere Services noch einmal kurz vorstellen.</p>
    <p>Neben der klassischen Angebotsplattform zur Vermarktung Ihrer Immobilien, profitieren Sie bei ivd24 von vielen weiteren Mehrwerten:</p>        
    
    <p>
    <b>• dem ivd24-Grundrissservice</b><br>
    <b>• der IVD-Expertensuche</b><br>
    <b>• dem Immo-Profi-Texter</b><br>
    <b>• der Börsenfunktionalität für Gemeinschaftsgeschäfte</b><br>
    <b>• unterschiedlichen Druckformaten für Exposés (inkl. Messe-Banner-Druck)</b><br>
    <b>• der Schufa-Bonitätsauskunft</b><br>
    <b>• der Objektverwaltung für die eigene Webseite</b>
    </p>

    <p>Ausführliche Informationen zu diesen und weiteren Services erhalten Sie im angefügten <a href='https://ivd24immobilien.de/dokumente/ivd24/Willkommen-bei-ivd24.pdf' target='_blank'><b>Tutorial</b></a>.</p>
    <p>Um Ihnen neben all diesen Mehrwerten noch weitere Funktionalitäten und Partnerschaften anbieten zu können, haben wir unseren <b>ivd24-Business-Club</b> ins Leben gerufen.<br> 
    Hier bündeln wir viele weitere professionelle Lösungen für Sie zu günstigen Pauschalpreisen. Wir möchten Sie damit unterstützen, Ihren Weg zum digitalen Makler voranzutreiben<br> 
    und dadurch Ihre Akquise zu stärken. Lesen Sie mehr unter <a href='https://ivd24immobilien.de/newsletter-businessclub/?returncode=EMAIADRESSE-AUS-USER_MAKLER_CONFIG-returncode' target='_blank'><b>Business-Club</b></a>.
    Ein attraktives Partnerangebot, das wir Ihnen im ivd24-Business-Club anbieten, ist beispielsweise<br> <b>StoryBox</b>. Informationen dazu finden sie unter <a href='https://www.ivd24immobilien.de/newsletter-storybox' target='_blank'><b>StoryBox</b></a>.</p>
            
    <p>Doch nun genug der Information. Jetzt kann es losgehen! Vervollständigen Sie Ihre Daten mit Logo und Schwerpunkten noch heute und schalten Sie sich für die Suche frei,<br> 
    um möglichst schnell von unserem Service zu profitieren.</p>
    <p><b>Nutzen Sie dazu folgende Zugangsdaten:</b></p>
    <p>Benutzername: <b>{{username}}</b><br>
    Passwort: <b>{{passwort}}</b></p>
    <p>Ihre FTP-Zugangsdaten finden Sie unter:<br>
    Mein IVD24 -> Meine Daten -> FTP-Zugangsdaten</p>
    <p>Anleitungen zum Einrichten der Schnittstelle finden Sie unter:<br>
    Mein IVD24 -> Meine Daten -> Hilfe/FAQ</p>
    <p>Bei Fragen oder Anregungen können Sie uns gerne anrufen. Sie erreichen uns montags bis freitags von 9:00 bis 16:30 Uhr unter der 089 / 290 820 50.<br>
    Den technischen Support erreichen Sie montags bis freitags von 9:00 bis 16:30 Uhr unter der 089 / 290 820 55 oder per E-Mail unter support@ivd24.de.
    </p>
    
    <p>Wir wünschen Ihnen gute Geschäfte und hoffen einen kleinen Beitrag mit ivd24.de leisten zu können.</p>
    <p>Mit freundlichen Grüßen<br>
    Ihr ivd24 Team</p>
</div>