<div>
    <div>Your data (as Statistic-User) ist updated!</div>
    <div> (new)username=<p>{{username}}</p> </div>
    <div> (new)email=<p>{{email}}</p> </div>
    <div> (new)passwort=<p>{{passwort}}</p> </div>
    <div> (new)geschaeftsstelle=<p>{{geschaeftsstelle}}</p> </div>
</div>