<div>
    <div>You are registered as Statistic-User !</div>
    <div> username=<p>{{username}}</p> </div>
    <div> email=<p>{{email}}</p> </div>
    <div> passwort=<p>{{passwort}}</p> </div>
    <div> geschaeftsstelle=<p>{{geschaeftsstelle}}</p> </div>
</div>