<div style="width:100%;margin:5px;">
    <h3>Ihre Daten (als Supporter) wurden geändert</h3>
    <p>Ihre neuen Daten:</p>
    <p>username=<b>{{username}}</b></p>
    <p>email=<b>{{email}}</b></p>
    <p>passwort=<b>{{passwort}}</b></p>
</div>